<h1>Stupid Coaching</h1>
<p class="question">
  <%= @question %>
  <br>
  -You
</p>

<p class="answer">
  <%= @answer %>
  <br>
  -Your Coach
</p>

<br>

<p clas ="link">
  <%= link_to "Ask a new question", ask_path %>
</p>
